@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inder&display=swap');
body{
    background-color: #EFD6AC;
}
.descripcion h1{
    color: #EFD6AC;
    font-size: 48px;
    font-family: 'Happy Monkey', cursive;}
.descripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #04151f;
    color: #EFD6AC;
    width: 1100px;
    height: 222px;
    border-radius: 29px;
    margin: auto;
}
.descripcion p{
    align-items: center;
    width: 961px;
    height: 117;
    font-size: 20px;
    margin-bottom: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
h1 {

    font-family: 'Holtwood One SC';
    color: #5E0B15;
    font-size: 100px;
    width: 1000px;
    height: 280px;
    text-align: center;

}
.cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.cabecera img{
    border-radius: 50%;
    width: 199px;
    height: 186px;
    margin-top: -200px;
}
.propietarios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}
.colaboradores{
    display: flex;
    flex-direction: column;
}
.colaboradores h2{
    color: #5E0B15;
    font-family: 'Holtwood One SC';
}
.colaboradores h3{
    font-family: 'Happy Monkey', cursive;
}
.colaboradores p{
    font-family: 'Inder';
}
.colaboradores img{
    width: 41px;
    height: 39px;
    margin-top:  50px;
    padding-left: 30px;   
}