@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inder&display=swap');
body{
    background-color: #EFD6AC;
}
.descripcion h1{
    color: #EFD6AC;
    font-size: 48px;
    font-family: 'Happy Monkey', cursive;
}

.descripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #04151f;
    color: #EFD6AC;
    width: auto;
    height: 222px;
    border-radius: 29px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20;
}
.descripcion p{
    align-items: center;
    width: auto;
    height: 117;
    font-size: 20px;
    margin-bottom: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
h1 {

    font-family: 'Holtwood One SC';
    color: #5E0B15;
    font-size:100px;
    width: 1000px;
    height: 280px;
    text-align: center;
    
}
.cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.cabecera img{
    border-radius: 50%;
    width: 350px;
    height: 300px;
    margin-top: -200px;
    box-shadow: 5px 10px 10px #5E0B15;
}
.propietarios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}
.colaboradores{
    display: flex;
    flex-direction: column;
}
.colaboradores h2{
    color: #5E0B15;
    font-family: 'Holtwood One SC';
    font-size: 20px;
}
.colaboradores h3{
    font-family: 'Happy Monkey', cursive;
}
.colaboradores p{
    font-family: 'Inder';
    padding: 30;
}
.colaboradores img{
    width: 41px;
    height: 39px;
    margin-top:  50px;
    padding-left: 30px;   
}
.empresaurio{
    display: flex;
    justify-content: space-around;

}
.empresaurio img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 10px 10px #5E0B15;
}
.cabecera h1{
    text-shadow:10px 5px 7px #04151f;
}
.Seif{
    margin-top: 50px;
    margin-bottom: 30px;
}